name: Metrics
on:
  schedule:
    - cron: "*/1440 * * * *"
  workflow_dispatch:
  push:
    branches: ["master", "main"]
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Statistics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
      - name: Recently Played Game
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.steam.svg
          token: NOT_NEEDED
          plugin_steam: yes
          plugin_steam_token: ${{ secrets.STEAM_TOKEN }}
          plugin_steam_user: "76561199017122818"
          plugin_steam_sections: player, most-played, recently-played 
          plugin_steam_achievements_limit: 4
      - name: Most used Language[s]
        uses: lowlighter/metrics@latest
        with: 
          filename: languages.metrics.svg
          token: ${{ secrets.METRICS_TOKEN }}
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_details: bytes-size, percentage, lines   
          plugin_languages_sections: most-used, recently-used
          base: ""
      - name: Lines Pushed
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.lines.pushed.svg
          token: ${{ secrets.METRICS_TOKEN }}
          plugin_lines: yes
          plugin_lines_sections: repositories, history
          plugin_lines_history_limit: 1
          base: repositories
      - name: Last chess game from lichess.org
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.lichess.svg
          token: NOT_NEEDED
          base: ""
          plugin_chess: yes
          plugin_chess_token: ${{ secrets.LICHESS_TOKEN }}
          plugin_chess_platform: lichess.org
      - name: Music
        uses: lowlighter/metrics@latest
        with:
          filename: metricss.spotify.svg
          plugin_music: yes
          token: NOT_NEEDED
          plugin_music_provider: spotify
          plugin_music_token: ${{ secrets.SPOTIFY_TOKENS }}
          plugin_music_mode: recent
          plugin_music_user: "thft4ud8mg1mq6civk4o3dkio"
